# For Railway or Linux-based deployments to stay under size limits (CPU only)
--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
python-multipart
tensorflow-cpu
pillow
numpy
transformers
torch
sentencepiece
